 .u-section-1 {
  min-height: 500px;
  background-image: url("images/8a411c319ad4e8240e3b158907f99c61106cd2044b413e42106066a129d46405bca3b9343cd41cccc2c5fdc66aa2b243dbecf268ce238207a7248f_1280.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 237px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 149px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 354px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-3 {
  line-height: 1.8;
  width: 680px;
  margin: 20px auto 60px;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-3 {
    width: 340px;
  }
}